<div class="body">
    <div class="flex justify-content-between">        
        <h1 class="text-5xl">Cidades</h1>
        <nav class="ml-5 align-content-center">
            <p-button size="large" label="Novo" severity="warning" (click)="novoCadastro()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-lg" viewBox="1 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                  </svg>
            </p-button>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
            {{mensagemSucesso}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{mensagemErro}}
        </div>
    </div>

        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card flex justify-content-center">
                        <p-table [value]="cidadeLista" [tableStyle]="{ width: '75rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th >UF</th>
                                    <th class="flex justify-content-center" >Opções</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body">
                                <tr *ngFor = "let cidade of cidadeLista">
                                    <td>{{ cidade.id }}</td>
                                    <td>{{ cidade.nome }}</td>
                                    <td>{{ cidade.uf}}</td>
                                    <td class="flex justify-content-center">
                                        <p-button label="Alterar" icon="" routerLink="/cidade/form/{{cidade.id}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="1 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                        </p-button>
                                        <p-confirmDialog />
                                        <p-button class="ml-2" label="Excluir" icon="" severity="danger" (click)="adicionaSelecionado(cidade)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="1 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div>lista{{cidadeLista}}</div>
                </div>
            </div>      

            

        </div>
</div>
         