<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">

                    <h1 class="mt-4 ml-5">Tabela de Preço </h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active ml-5">{{tabelaPreco.id ? 'Edição' : 'Cadastro'}}</li>
                    </ol>

                    <div class="container ml-5">

                        <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-success" role="alert" *ngIf="success === true">
                                        Cliente salvo/atualizado com sucesso!
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                                        {{erro}}
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="tabelaPreco.id">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ID:</label>
                                        <input type="text" class="form-control" disabled="true" [(ngModel)]="tabelaPreco.id"
                                            name="id">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Descrição: </label>
                                        <input type="text" class="form-control" [(ngModel)]="tabelaPreco.descricao"
                                            name="descricao"> 
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Percentual: </label>
                                        <input type="text" class="form-control" [(ngModel)]="tabelaPreco.percentual"
                                            name="percentual">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tipo: </label>
                                        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tabelaPreco.tipo">
                                            <option>Acrescimo</option>
                                            <option>Desconto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">

                                    <button type="submit" class="btn btn-success" *ngIf="!tabelaPreco.id">
                                        <i class="fa fa-save"></i>Salvar
                                    </button>

                                    <button type="submit" class="btn btn-primary" *ngIf="tabelaPreco.id">
                                        <i class="fa fa-sync-alt"></i>Alterar
                                    </button>

                                    <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                                        <i class="fa fa-arrow-alt-circle-left"></i>Voltar
                                    </button>

                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>