/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";


.p-sidebar {
    position: relative !important; 
    background-color:#343e4d; 
  }
.layout{
    display: flex;
    }
.body {
    padding-left: 1vw;
    padding-right: 2vw;
    width: 83rem;
    min-height: 78vh;
}
.footer {
    display: flex; 
    justify-content: space-between; 
    background-color:#343e4d
    }